[submodule "RETFound_MAE"]
	path = RETFound_MAE
	url = https://github.com/rmaphoh/RETFound_MAE.git
[submodule "MM-Retinal"]
	path = MM-Retinal
	url = https://github.com/thaotnguyen/MM-Retinal.git
[submodule "LLaVA"]
	path = LLaVA
	url = https://github.com/thaotnguyen/LLaVA.git
[submodule "DeepSeek-VL2"]
	path = DeepSeek-VL2
	url = https://github.com/thaotnguyen/DeepSeek-VL2.git
[submodule "LLaVA-Med"]
	path = LLaVA-Med
	url = https://github.com/microsoft/LLaVA-Med.git
[submodule "OpenBioMed"]
	path = OpenBioMed
	url = https://github.com/PharMolix/OpenBioMed.git
[submodule "BiomedGPT"]
	path = BiomedGPT
	url = https://github.com/taokz/BiomedGPT.git
