attrdict==2.0.1
bitsandbytes==0.45.2
cog==0.13.7
deepspeed==0.16.3
docx==0.2.4
editdistance==0.8.1
einops==0.8.1
fastapi==0.115.8
fire==0.7.0
flair==0.15.1
flash_attn==2.7.4.post1
gradio==5.15.0
httpx==0.28.1
huggingface_hub==0.28.1
imagehash==4.3.2
kornia==0.8.0
Markdown==3.7
matplotlib==3.10.0
mdtex2html==1.3.1
numpy==2.2.2
openai==1.61.1
packaging==24.2
pandas==2.2.3
peft==0.14.0
Pillow==11.1.0
pycm==4.2
Pygments==2.19.1
ray==2.42.0
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.1
sglang==0.4.2.post3
shortuuid==1.0.13
skimage==0.0
timm==1.0.14
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.47.1
uvicorn==0.34.0
xformers==0.0.29.post2
